* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
.title{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.header_title{
    width: 100%;
    height: 68px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
    border-bottom: 1px solid grey;
}
.caption{
    position: relative;
    float: right;
    margin: 0;
    line-height: 50px;
}
.header_nav {
    background-color: tomato;
    z-index: 1;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 44px;
    font-size: 15px;
    border-bottom: 1px solid grey;
}
.navigation{
    position: relative;
    padding-left: 15px;
    margin: 0;
    list-style-type: none;
}
.navigation li{
    float: left;
    height: 44px;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
}
.navigation a:hover{
    background-color: rosybrown;
}
/*set a display:flex option that I want to make a layout*/
.block_container{
    position: relative;
    display: flex;
    width: 100%;

}