<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시하기</title>
</head>
<body>
    <h1>글 게시하기</h1>
    <form method="POST" action="/post/postarticle/post">
        <label for="selectboard">게시판 선택</label>
        <select id="selectboard" name="board">
            <% boardNameList.forEach(board => { %>
                <option id="<%= board.boardname %>"value="<%= board.boardname %>" name="boardname"><%= board.boardname %></option>
            <% }); %>
        </select>
        <div class="header">
            <input type="text" name="userid" placeholder="id" required>
            <input type="text" name="boardtitle" placeholder="title" required>
        </div>
        <div class="text-area">
            <textarea aria-autocomplete="none" style="resize: none;" name="article" rows="30" cols="100" required></textarea>
            <input type="submit">
        </div>
    </form>
<script>
    // fetch('/post/postarticle/post', {
    //     method: 'POST',
    //     body: {
    //         userid: document.qeurySelector('input[name="userid"]').value
    //         boardname: document.querySelector('#')
    //     }
    // })
</script>
</body>
</html>