<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="demo.css">
    <title>Document</title>
</head>
<body>
    <h1>hi</h1>
    <div class="container">
        <% for (let i = 0; i < 5; i++) { %>
            <li>hi from demo.ejs </li>
        <% } %>
    </div>
    <button type="button" class="add">add</button>
    <script>
        const button = document.querySelector(".add");
        const div = document.querySelector(".container");
        function init() {
            button.addEventListener("click", function() {
                const li = document.createElement("li");
                const span = document.createElement("span");
                li.appendChild(span);
                div.appendChild(li);
                span.textContent = "This is made from button";
            });
        }

        init();
    </script>
</body>
</html>