html
    head
        title Index Page
    body
        // jade string
        #header
            h1 Hello, #{name}!
            h2= description
        hr
        .article
            - for (let i = 0; i< 10; i++) {
                p
                    a(href="http://www.google.com", data-test="multiple Attribute") Go To Google       
            - }