*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/*글씨를 가운데로 배치할 때 text-align 사용(block- level인 경우)*/
h1 {
    margin-top: 230px;  
    text-align: center;
    font-size: 90px;
}

h1 span:nth-child(1) {
    color: #4285F4;
}

h1 span:nth-child(2) {
    color: #EA4335
}

h1 span:nth-child(3) {
    color: #FBBC05;
}

h1 span:nth-child(4) {
    color: #4285F4;
}

h1 span:nth-child(5) {
    color: #34A853;
}

h1 span:nth-child(6) {
    color: #EA4335;
}
form {
    justify-content: flex-end;
    align-items: center;
}

.search-bar {
    width: 500px;
}
