@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

/*text 속성을 가질 수 있는 것들에다가 폰트 등을 적용*/
li, a, button {
    font-family: "Montserrat", sans-serif;
    /*font-weight is what I checked on online;*/
    font-weight: 500;
    font-size:  16px;
    /*font color 지정시 눌르더라도 색이 변하지 않게 됨*/
    color: #edf0f1;
    /*눌렀을때 글자색이 변하거나, 링크에 줄이 쳐져있는 효과 방지*/
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;  
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    min-width: 318px;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}